html{
    background-color: #D2B48C;
}

body{
    background-color: #D2B48C;
    
}

.navbar{
    text-align: center;
    
}

.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.menuitem{
    display: inline;
    
}

/* wrapper div that holds all of the content divs for the page */
.wrap {
	width: 90%; 
	margin: 0 auto; 
	border: 1px solid black; 
	margin-top: 25px;
}

/* formats the page hader */
.header {
	text-align: left;
	padding: 25px;
}
.headerImg {
	float: left;
	width: 200px;
}
.headerText {
	float: left;
	height: 105px;
	padding-top: 50px;
	padding-left: 200px;
}


table{
    background: white;
    border: 2px solid white;
    margin: 0px;
}
    
th{
    margin: 0px;
    background-color: #FFFF99;
    color: #696969;  
 }
    

tr{
    padding: 0px;
    background-color: #F08080;
    color: white;
}


form{
    background-color: #F08080;
    
}


label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
    color: white;
}


.buttons{
    text-align: center;
    
}


.update td {
    border: none;
    height: 25px;
    padding: 10px;
    font-weight: bold;
}

input[readonly]{
    background-color: gray;
}
